USE [GAHE]
GO
/****** Object:  Table [dbo].[telefono]    Script Date: 10/10/2019 04:30:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[telefono](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[telefono] [varchar](50) NULL,
	[tipo_telefono] [varchar](50) NULL,
 CONSTRAINT [PK_telefonos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/10/2019 04:30:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[user] [nvarchar](50) NULL,
	[Password] [nvarchar](max) NULL,
	[status] [bit] NULL,
	[RememberMe] [bit] NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[Users] 
(
	[user] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Users] ON
INSERT [dbo].[Users] ([Id], [user], [Password], [status], [RememberMe]) VALUES (1, N'admin', N'12345', 1, 1)
INSERT [dbo].[Users] ([Id], [user], [Password], [status], [RememberMe]) VALUES (2, N'lvasquez', N'lvasquez', 1, 0)
INSERT [dbo].[Users] ([Id], [user], [Password], [status], [RememberMe]) VALUES (3, N'invite', N'12345', 1, 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Table [dbo].[ubicacion]    Script Date: 10/10/2019 04:30:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ubicacion](
	[id] [int] NOT NULL,
	[ubicacion] [varchar](150) NULL,
 CONSTRAINT [PK_ubicacion] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tipo_persona]    Script Date: 10/10/2019 04:30:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tipo_persona](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipo_persona] [varchar](50) NULL,
 CONSTRAINT [PK_tipo_persona] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tipo_juzgado]    Script Date: 10/10/2019 04:30:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tipo_juzgado](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipo_juzgado] [varchar](50) NULL,
 CONSTRAINT [PK_tipo_juzgado] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tipo_evento]    Script Date: 10/10/2019 04:30:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tipo_evento](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipo_evento] [varchar](250) NULL,
 CONSTRAINT [PK_tipo_evento_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[servicio]    Script Date: 10/10/2019 04:30:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[servicio](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NULL,
 CONSTRAINT [PK_servicio] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[avance]    Script Date: 10/10/2019 04:30:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[avance](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipo_avance] [varchar](50) NULL,
 CONSTRAINT [PK_avance] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[avance] ON
INSERT [dbo].[avance] ([id], [tipo_avance]) VALUES (1, N'Iniciado')
INSERT [dbo].[avance] ([id], [tipo_avance]) VALUES (2, N'Terminado')
INSERT [dbo].[avance] ([id], [tipo_avance]) VALUES (4, N'En progreso')
SET IDENTITY_INSERT [dbo].[avance] OFF
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 10/10/2019 04:30:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Navbar]    Script Date: 10/10/2019 04:30:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Navbar](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nameOption] [varchar](250) NULL,
	[controller] [varchar](50) NULL,
	[action] [varchar](50) NULL,
	[area] [varchar](50) NULL,
	[imageClass] [nvarchar](50) NULL,
	[estatus] [bit] NULL,
	[activeli] [bit] NULL,
 CONSTRAINT [PK_Navbar] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[caso]    Script Date: 10/10/2019 04:30:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[caso](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[referencia] [varchar](50) NULL,
	[fecha_creacion] [date] NULL,
	[responsableId] [int] NOT NULL,
	[avanceId] [int] NOT NULL,
	[aperturaPersonaId] [int] NOT NULL,
 CONSTRAINT [PK_caso] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[juzgado]    Script Date: 10/10/2019 04:30:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[juzgado](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[lugar] [varchar](50) NULL,
	[piso] [smallint] NULL,
	[ciudad] [varchar](50) NULL,
	[nombre_juez] [varchar](50) NULL,
	[apellido_juez] [varchar](50) NULL,
	[descripcion] [text] NULL,
	[juzgadoId] [int] NOT NULL,
	[tipoId] [int] NOT NULL,
 CONSTRAINT [PK_jusgado] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 10/10/2019 04:30:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[MenuId] [int] NOT NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[persona]    Script Date: 10/10/2019 04:30:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[persona](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dni] [varchar](50) NULL,
	[nombre] [varchar](50) NULL,
	[apellido] [varchar](50) NULL,
	[celular] [varchar](50) NULL,
	[tipo] [int] NULL,
	[usuarioId] [int] NULL,
 CONSTRAINT [PK_persona] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tarea]    Script Date: 10/10/2019 04:30:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tarea](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tarea] [varchar](50) NULL,
	[descripcion] [text] NULL,
	[estado] [varchar](50) NULL,
	[prioridad] [varchar](50) NULL,
	[casoId] [int] NULL,
	[responsableId] [int] NULL,
 CONSTRAINT [PK_tarea] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[telefono_persona]    Script Date: 10/10/2019 04:30:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[telefono_persona](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[personaId] [int] NULL,
	[telefonosId] [int] NULL,
 CONSTRAINT [PK_telefono_persona] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[parte_caso]    Script Date: 10/10/2019 04:30:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[parte_caso](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[casoId] [int] NULL,
	[personaId] [int] NULL,
 CONSTRAINT [PK_parte_caso] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[expediente]    Script Date: 10/10/2019 04:30:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[expediente](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](50) NULL,
	[fechacreacion] [date] NULL,
	[hora] [time](7) NULL,
	[descripcion] [text] NULL,
	[estadoid] [int] NULL,
	[tipoId] [int] NULL,
	[claseId] [int] NULL,
	[responsableId] [int] NULL,
	[ubicacionId] [int] NULL,
	[casoId] [int] NOT NULL,
 CONSTRAINT [PK_expediente] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[evento]    Script Date: 10/10/2019 04:30:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[evento](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipo_evento] [int] NOT NULL,
	[descripcion_evento] [varchar](250) NULL,
	[fecha_inicio] [date] NOT NULL,
	[servicioId] [int] NULL,
	[expedienteId] [int] NULL,
	[tipo_eventoId] [int] NULL,
 CONSTRAINT [PK_evento] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[documento]    Script Date: 10/10/2019 04:30:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[documento](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nchar](100) NOT NULL,
	[fechacreacion] [date] NOT NULL,
	[mime] [nchar](10) NULL,
	[nombre] [varchar](50) NULL,
	[extension] [varchar](50) NULL,
	[tamano] [int] NULL,
	[creado] [int] NULL,
	[expedienteIid] [int] NOT NULL,
 CONSTRAINT [PK_documento] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[juzgado_evento]    Script Date: 10/10/2019 04:30:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[juzgado_evento](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[juzgado_evento] [int] NULL,
	[eventoId] [int] NOT NULL,
	[juzgadoId] [int] NULL,
 CONSTRAINT [PK_juzgado_evento] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_caso_avance]    Script Date: 10/10/2019 04:30:58 ******/
ALTER TABLE [dbo].[caso]  WITH CHECK ADD  CONSTRAINT [FK_caso_avance] FOREIGN KEY([avanceId])
REFERENCES [dbo].[avance] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[caso] CHECK CONSTRAINT [FK_caso_avance]
GO
/****** Object:  ForeignKey [FK_juzgado_tipo_juzgado]    Script Date: 10/10/2019 04:30:58 ******/
ALTER TABLE [dbo].[juzgado]  WITH CHECK ADD  CONSTRAINT [FK_juzgado_tipo_juzgado] FOREIGN KEY([tipoId])
REFERENCES [dbo].[tipo_juzgado] ([id])
GO
ALTER TABLE [dbo].[juzgado] CHECK CONSTRAINT [FK_juzgado_tipo_juzgado]
GO
/****** Object:  ForeignKey [FK_Roles_Navbar]    Script Date: 10/10/2019 04:30:58 ******/
ALTER TABLE [dbo].[Roles]  WITH CHECK ADD  CONSTRAINT [FK_Roles_Navbar] FOREIGN KEY([MenuId])
REFERENCES [dbo].[Navbar] ([id])
GO
ALTER TABLE [dbo].[Roles] CHECK CONSTRAINT [FK_Roles_Navbar]
GO
/****** Object:  ForeignKey [FK_Roles_Users]    Script Date: 10/10/2019 04:30:58 ******/
ALTER TABLE [dbo].[Roles]  WITH NOCHECK ADD  CONSTRAINT [FK_Roles_Users] FOREIGN KEY([userId])
REFERENCES [dbo].[Users] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Roles] NOCHECK CONSTRAINT [FK_Roles_Users]
GO
/****** Object:  ForeignKey [FK_persona_tipo_persona]    Script Date: 10/10/2019 04:30:58 ******/
ALTER TABLE [dbo].[persona]  WITH CHECK ADD  CONSTRAINT [FK_persona_tipo_persona] FOREIGN KEY([tipo])
REFERENCES [dbo].[tipo_persona] ([id])
GO
ALTER TABLE [dbo].[persona] CHECK CONSTRAINT [FK_persona_tipo_persona]
GO
/****** Object:  ForeignKey [FK_persona_Users]    Script Date: 10/10/2019 04:30:58 ******/
ALTER TABLE [dbo].[persona]  WITH CHECK ADD  CONSTRAINT [FK_persona_Users] FOREIGN KEY([usuarioId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[persona] CHECK CONSTRAINT [FK_persona_Users]
GO
/****** Object:  ForeignKey [FK_tarea_caso]    Script Date: 10/10/2019 04:30:58 ******/
ALTER TABLE [dbo].[tarea]  WITH CHECK ADD  CONSTRAINT [FK_tarea_caso] FOREIGN KEY([casoId])
REFERENCES [dbo].[caso] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tarea] CHECK CONSTRAINT [FK_tarea_caso]
GO
/****** Object:  ForeignKey [FK_tarea_persona]    Script Date: 10/10/2019 04:30:58 ******/
ALTER TABLE [dbo].[tarea]  WITH CHECK ADD  CONSTRAINT [FK_tarea_persona] FOREIGN KEY([responsableId])
REFERENCES [dbo].[persona] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tarea] CHECK CONSTRAINT [FK_tarea_persona]
GO
/****** Object:  ForeignKey [FK_telefono_persona_persona]    Script Date: 10/10/2019 04:30:58 ******/
ALTER TABLE [dbo].[telefono_persona]  WITH CHECK ADD  CONSTRAINT [FK_telefono_persona_persona] FOREIGN KEY([personaId])
REFERENCES [dbo].[persona] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[telefono_persona] CHECK CONSTRAINT [FK_telefono_persona_persona]
GO
/****** Object:  ForeignKey [FK_telefono_persona_telefonos]    Script Date: 10/10/2019 04:30:58 ******/
ALTER TABLE [dbo].[telefono_persona]  WITH CHECK ADD  CONSTRAINT [FK_telefono_persona_telefonos] FOREIGN KEY([telefonosId])
REFERENCES [dbo].[telefono] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[telefono_persona] CHECK CONSTRAINT [FK_telefono_persona_telefonos]
GO
/****** Object:  ForeignKey [FK_parte_caso_caso]    Script Date: 10/10/2019 04:30:58 ******/
ALTER TABLE [dbo].[parte_caso]  WITH CHECK ADD  CONSTRAINT [FK_parte_caso_caso] FOREIGN KEY([casoId])
REFERENCES [dbo].[caso] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[parte_caso] CHECK CONSTRAINT [FK_parte_caso_caso]
GO
/****** Object:  ForeignKey [FK_parte_caso_persona]    Script Date: 10/10/2019 04:30:58 ******/
ALTER TABLE [dbo].[parte_caso]  WITH CHECK ADD  CONSTRAINT [FK_parte_caso_persona] FOREIGN KEY([personaId])
REFERENCES [dbo].[persona] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[parte_caso] CHECK CONSTRAINT [FK_parte_caso_persona]
GO
/****** Object:  ForeignKey [FK_expediente_caso]    Script Date: 10/10/2019 04:30:59 ******/
ALTER TABLE [dbo].[expediente]  WITH CHECK ADD  CONSTRAINT [FK_expediente_caso] FOREIGN KEY([casoId])
REFERENCES [dbo].[caso] ([id])
GO
ALTER TABLE [dbo].[expediente] CHECK CONSTRAINT [FK_expediente_caso]
GO
/****** Object:  ForeignKey [FK_expediente_ubicacion]    Script Date: 10/10/2019 04:30:59 ******/
ALTER TABLE [dbo].[expediente]  WITH CHECK ADD  CONSTRAINT [FK_expediente_ubicacion] FOREIGN KEY([ubicacionId])
REFERENCES [dbo].[ubicacion] ([id])
GO
ALTER TABLE [dbo].[expediente] CHECK CONSTRAINT [FK_expediente_ubicacion]
GO
/****** Object:  ForeignKey [FK_evento_expediente]    Script Date: 10/10/2019 04:30:59 ******/
ALTER TABLE [dbo].[evento]  WITH CHECK ADD  CONSTRAINT [FK_evento_expediente] FOREIGN KEY([expedienteId])
REFERENCES [dbo].[expediente] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[evento] CHECK CONSTRAINT [FK_evento_expediente]
GO
/****** Object:  ForeignKey [FK_evento_servicio]    Script Date: 10/10/2019 04:30:59 ******/
ALTER TABLE [dbo].[evento]  WITH CHECK ADD  CONSTRAINT [FK_evento_servicio] FOREIGN KEY([servicioId])
REFERENCES [dbo].[servicio] ([id])
GO
ALTER TABLE [dbo].[evento] CHECK CONSTRAINT [FK_evento_servicio]
GO
/****** Object:  ForeignKey [FK_evento_tipo_evento1]    Script Date: 10/10/2019 04:30:59 ******/
ALTER TABLE [dbo].[evento]  WITH CHECK ADD  CONSTRAINT [FK_evento_tipo_evento1] FOREIGN KEY([tipo_evento])
REFERENCES [dbo].[tipo_evento] ([id])
GO
ALTER TABLE [dbo].[evento] CHECK CONSTRAINT [FK_evento_tipo_evento1]
GO
/****** Object:  ForeignKey [FK_documento_expediente]    Script Date: 10/10/2019 04:30:59 ******/
ALTER TABLE [dbo].[documento]  WITH CHECK ADD  CONSTRAINT [FK_documento_expediente] FOREIGN KEY([expedienteIid])
REFERENCES [dbo].[expediente] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[documento] CHECK CONSTRAINT [FK_documento_expediente]
GO
/****** Object:  ForeignKey [FK_juzgado_evento_evento]    Script Date: 10/10/2019 04:30:59 ******/
ALTER TABLE [dbo].[juzgado_evento]  WITH CHECK ADD  CONSTRAINT [FK_juzgado_evento_evento] FOREIGN KEY([eventoId])
REFERENCES [dbo].[evento] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[juzgado_evento] CHECK CONSTRAINT [FK_juzgado_evento_evento]
GO
/****** Object:  ForeignKey [FK_juzgado_evento_juzgado]    Script Date: 10/10/2019 04:30:59 ******/
ALTER TABLE [dbo].[juzgado_evento]  WITH CHECK ADD  CONSTRAINT [FK_juzgado_evento_juzgado] FOREIGN KEY([juzgadoId])
REFERENCES [dbo].[juzgado] ([id])
GO
ALTER TABLE [dbo].[juzgado_evento] CHECK CONSTRAINT [FK_juzgado_evento_juzgado]
GO
